.top-bar-wrapper {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.top-bar-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03em;
    transition: all 0.3s;
}

.right-action {
    display: flex;
    width: 50%;
    justify-items: flex-start;
}

.left-action {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
