@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
    --selected: rgb(255, 86, 5);
    --black: #212121;
    --white: #fff;
    --blue: #2f5acf;
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --font-weight-light: 300;
    --max-height-modal: 600px;
    --max-width-modal: 1000px;
    --medium-height-modal: 560px;
    --medium-width-modal: 950px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    &::-webkit-scrollbar {
        width: 8px;
    }
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}
