@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
    --selected: rgb(255, 86, 5);
    --header-navbar-padding-top-bottom: 31px;
    --header-navbar-padding-left-right: 35px;
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --font-weight-light: 300;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}
